# Byte-compiled / optimized / DLL files
__pycache__
*.pyc

# Distribution / packaging
build/
/*.egg-info
.eggs
/dist/

# Unit test / coverage reports
.cache
.coverage

# Sphinx documentation
docs/_build/

# Deprecated scripts / temp directory
data/_deprecated/
tmp

# PyCharm files
.idea

# Python 2to3 conversion backups
*.bak

# BRI-specific config files
bri*.ini
*.Rproj.user
*.Rproj
